@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Bebas Neue";
  overflow-x: hidden;
}

.wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.parallax-section {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  border-radius: 20px;
}

#section1 {
  background-image: url('imgs/F1logo.jpg');
  border-radius: 20px;
}

#section2 {
  background-image: url('imgs/1578641118.avif');
  border-radius: 20px;
}

.foreground {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 20%;
  z-index: 1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.content-section {
  padding: 2rem;
  background-color: #A72224;
  color: white;
  font-size: 2rem;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}

.links-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.links-list li {
  display: inline-block;
  margin: 20px;
}

.links-list a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-color: #29373f;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.links-list a:hover {
  background-color: #ff4c4c;
  color: white;
}

.final-section {
  background-color: #29373f;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 20px;
}

footer {
  background-color: #29373f;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
}
